.main-wrapper-outer {
	width: 100%;
	min-height: 100%;
	max-width: var(--main-outer-width);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	color: var(--theme-color-text-common);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	@media (max-width: 768px) {
		font-size: 16px;
	}
}

.main.new-design {
	flex-grow: 1;
	flex-shrink: 1;

	body:not(.mp) & {
		padding-bottom: clamp(50px, 5vw, 100px);
	}
}

.new-design {
	.container {
		margin: 0 auto;
		width: 100%;
		max-width: var(--container-width);
		padding: 0px 15px;
	}
}
